# Sample images
**/*.img
**/*.bin

# Output files
**/*.exe
**/*.log
**/*.html

# Ignore compiled Python files
**/*.pyc
**/*.pyo
__pycache__/*

# Ignore distribution/build folders
venv/*
build/*
raidalyzer.dist/*
raidalyzer.build/*
raidalyzer.onefile-build/*
