# Sample images
**/*.img
**/*.bin

# Output files
**/*.exe
**/*.txt
**/*.log
**/*.html

# Ignore compiled Python files
**/*.pyc
**/*.pyo
__pycache__/*

# Ignore distribution/build folders
raidalyzer.dist/*
raidalyzer.build/*
raidalyzer.onefile-build/*
